/* introducao */

.introducao-bg {
  margin-bottom: 80px;
}

.introducao h1 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-top: 40px;
  margin-bottom: 20px;
}

.introducao h2 {
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
  max-width: 800px;
}

.introducao a {
  background-color: #ffc5e0;
  padding: .1rem;
}

.introducao a:hover {
  background-color: #FFA5CF;;
}


/* projects */

.projects-bg {
  margin-bottom: 80px;
}

.projects h2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-bottom: 10px;
}

.projects-links {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}


.projects-links img, .projects-links a {
  border-radius: 4px;
}

.projects-links a:hover {
  box-shadow: 2px 1px 5px 2px rgb(213, 213, 213);
}


/* skills/toolkit */

.toolkit-bg {
  margin-bottom: 80px;
}

.toolkit h2 {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-top: 40px;
  margin-bottom: 10px;
}

.toolkit ul {
  max-width: 900px;
  /* padding: 0 20px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.toolkit li {
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #fff;
  
}

.toolkit img {
  max-width: 100%;
  height: auto;
}

.toolkit .responsive-icon {
  font-size: 14px;
}

.toolkit li:hover {
  border: 2px solid #ffc5e0;
}

@media (max-width: 700px) {
  .toolkit ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .toolkit li:nth-last-child(2) {
    grid-column: 2;
  }
  .toolkit li:nth-last-child(1) {
    grid-column: 3;
  }
}

@media (max-width: 580px) {

  .toolkit ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .toolkit li {
    padding: 15px;
  }

  .toolkit li:nth-last-child(2) {
    grid-column: 3;
  }
  .toolkit li:nth-last-child(1) {
    grid-column: 2;
  }

  .toolkit-itens img{
    transform: scale(0.8);
  }

  .toolkit-itens li {
    font-size: 1rem;
    padding: 10px;
  }

}

@media (max-width: 400px) {

  .toolkit ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .toolkit li:nth-last-child(2) {
    grid-column: auto;
  }
  .toolkit li:nth-last-child(1) {
    grid-column: auto;
  }
}